<div>
		<div class="page-title" style="background: #F7F7F7;">
			<div class="title_left">
				<h3>Administrar Afiliado</h3>
			</div>
		</div>

		<div class="x_panel">
			<div class="x_content">
				<form #afiliadoMngForm="ngForm" class="editForm" novalidate>
					<div class='row'>
						<div class="col-lg-6">
							<button *ngIf="createActive" class="btn btn-primary" (click)="add()"><span class="fa fa-plus"></span></button>
						</div>
						<div class="col-lg-6">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Criterios de busqueda..." name="busquedaAfiliado" [(ngModel)]="busquedaAfiliado">
								<span class="input-group-btn">
									<button type="button" class="btn btn-default"><em class="fa fa-search"></em></button>
								</span>
							</div>
						</div>
					</div>

					<br/>
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="x_panel">
								<div class="x_title">
									<h2>Resultados de la busqueda</h2>
									<div class="clearfix"></div>
								</div>
								<div class="x_content" style="width: 100%; overflow-x: scroll ;">
									<br/>
									<table id="datatable" >
										<thead>
												<tr>
														<th>Beneficiario</th>
														<th>Fecha_afiliacion</th>
														<th>Foto</th>
														<th>Correo</th>
														<th>Apellido_materno</th>
														<th>Acta_nacimiento</th>
														<th>Monto_pension</th>
														<th>Apellido_paterno</th>
														<th>Nombre</th>
														<th></th>
												</tr>
											</thead>
											<tbody>
												
												<tr  *ngFor="let afiliado of afiliadoList | filterAfiliado: busquedaAfiliado | paginate: {itemsPerPage: 10, currentPage:page, id: 'paginationTableAfiliado'}; let i = index" (click)="updateActive ? setClickedRowAfiliado(i, afiliado): false" >
												
													<td>{{afiliado.beneficiarioId}}</td>
														<td>{{afiliado.fecha_afiliacion}}</td>
														<td>{{afiliado.foto}}</td>
														<td>{{afiliado.correo}}</td>
														<td>{{afiliado.apellido_materno}}</td>
														<td>{{afiliado.acta_nacimiento}}</td>
														<td>{{afiliado.monto_pension}}</td>
														<td>{{afiliado.apellido_paterno}}</td>
														<td>{{afiliado.nombre}}</td>
														<td>
															<button *ngIf="updateActive" class="btn btn-default" (click)="editar()"><span class="fa fa-pencil"></span></button>
															<button *ngIf="deleteActive" class="btn btn-default" (click)="eliminar()"><span class="fa fa-trash"></span></button>
														</td>
												</tr>
											</tbody>
									</table>
									<div align="row" align="right">
										<div align="left" style="margin-top:15px; background: #DDDDDD; width: 35%; position: relative;">
											<pagination-controls (pageChange)="page = $event" id="paginationTableAfiliado" maxSize="10" directionLinks="true" autoHide="false" previousLabel="Anterior" nextLabel="Siguiente" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
											</pagination-controls>
										</div>
									</div>


								</div>
							</div>
							</div>
						</div>
				  </form>
			</div>
		</div>
</div>
