
			<div class="x_panel">
				<div class="x_title">
				<h2>Tipopension <small>Agregar Tipopension</small></h2>
				<ul class="nav navbar-right panel_toolbox">
					<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
					</li>
				</ul>
				<div class="clearfix"></div>
				</div>
				<div class="x_content">
				
				<form #tipopensionForm="ngForm" class="editForm" novalidate>					
					<input class="form-control" #tipopensionId="ngModel" tipopensionId="tipopensionId" name="tipopensionId" type="hidden" placeholder="tipopensionId" [(ngModel)]="tipopension.tipopensionId">	

					<label for="nombre">Nombre * :</label>
					<input class="form-control" #nombre="ngModel" id="nombre" name="nombre" type="text" [(ngModel)]="tipopension.nombre" required>
						
					<label for="clave">Clave * :</label>
					<input class="form-control" #clave="ngModel" id="clave" name="clave" type="text" [(ngModel)]="tipopension.clave" required>

					<br/>

					<div class="ln_solid"></div>
					<div class="col-sm-12">
						<div class="input-group">
						<div *ngIf="flag">	
						<button class="btn btn-danger" (click)="delete(tipopensionForm)"><span style="margin-right:10px;"  class="fa fa-trash"></span>Eliminar</button>
						<button class="btn btn-primary" (click)="save(tipopensionForm)"><span style="margin-right:10px;"  class="fa fa-save"></span>Modificar</button>
						<button class="btn btn-default" (click)="return(tipopensionForm)"> <span style="margin-right:10px;"  class="fa fa-arrow-left"></span> Regresar</button>
						</div>
						<div *ngIf="!flag">
						<button class="btn btn-primary" (click)="save(tipopensionForm)"><span style="margin-right:10px;"  class="fa fa-save"></span>Agregar</button>
						<button class="btn btn-default" (click)="return(tipopensionForm)"> <span style="margin-right:10px;"  class="fa fa-arrow-left"></span> Regresar</button>
						</div>
						</div>
					</div>
					
				</form>
				
				</div>
			</div>


