




			<div class="x_panel">
				<div class="x_title">
				<h2>Modulo <small>Agregar Modulo</small></h2>
				<ul class="nav navbar-right panel_toolbox">
					<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
					</li>
				</ul>
				<div class="clearfix"></div>
				</div>
				<div class="x_content">

					
					<form #moduloForm="ngForm" id="moduloForm" class="form-horizontal form-label-left" data-parsley-validate>
			
						<input class="form-control" #idModulo="ngModel" idModulo="idModulo" name="idModulo" type="hidden" [(ngModel)]="modulo.idModulo">

						<label for="modulo">Modulo * :</label>
						<input class="form-control" id="modulo" name="modulo" type="text" [(ngModel)]="modulo.modulo" required>
		
						<br/>
						<label>Estatus * :</label>
						<p>
						Activo:        <input type="radio"  value="true"     name="estatus" [(ngModel)]="modulo.estatus" />		
						Inactivo:      <input type="radio"  value="false"     name="estatus" [(ngModel)]="modulo.estatus" />		
						</p>

						<br/>
						<label for="fechacreacion">Fechacreacion * :</label>
						<input class="form-control"  id="fechaCreacion" name="fechaCreacion" type="fechaCreacion" [(ngModel)]="modulo.fechaCreacion" required>
						
						<label for="fechamodificacion">Fechamodificacion * :</label>
						<input class="form-control"  id="fechaModificacion" name="fechaModificacion" type="text" [(ngModel)]="modulo.fechaModificacion" required>
						
						<br/>
						<div class="ln_solid"></div>
						<div class="col-sm-12">
							<div class="input-group">
							<div *ngIf="flag">	
							<button class="btn btn-danger" (click)="delete(moduloForm)"><span style="margin-right:10px;"  class="fa fa-trash"></span>Eliminar</button>
							<button class="btn btn-primary" (click)="save(moduloForm)"><span style="margin-right:10px;"  class="fa fa-save"></span>Modificar</button>
							<button class="btn btn-default" (click)="return(moduloForm)"> <span style="margin-right:10px;"  class="fa fa-arrow-left"></span> Regresar</button>
							</div>
							<div *ngIf="!flag">
							<button class="btn btn-primary" (click)="save(moduloForm)"><span style="margin-right:10px;"  class="fa fa-save"></span>Agregar</button>
							<button class="btn btn-default" (click)="return(moduloForm)"> <span style="margin-right:10px;"  class="fa fa-arrow-left"></span> Regresar</button>
							</div>
							</div>
						</div>
					
					</form>
				</div>
			</div>




