<div>
		<div class="page-title" style="background: #F7F7F7;">
			<div class="title_left">
				<h3 *ngIf="flagDelete">Eliminar Afiliado</h3>
				<h3 *ngIf="flag && !flagDelete">Actualizar Afiliado</h3>
				<h3 *ngIf="!flag && !flagDelete">Agregar Afiliado</h3>
			</div>
		</div>

		<div class="x_panel">
			<div class="x_title">
				<h2>Datos del afiliado</h2>
				<div class="clearfix"></div>
			</div>

			<div class="x_content">

					<form [formGroup]="afiliadoForm">
						<div class="row">
				
							<div class="col-md-12">
								<div class="form-group">
								<label class="control-label" for="fecha_afiliacion">Fecha_Afiliacion <span class="required">*</span></label>
									<input *ngIf="flagDelete"  class="form-control col-md-12" id="fecha_afiliacion" value="{{fecha_afiliacion}}" formControlName="fecha_afiliacion" type="text" readonly="true"/>
									<input *ngIf="!flagDelete" class="form-control col-md-12" id="fecha_afiliacion" value="{{fecha_afiliacion}}" formControlName="fecha_afiliacion" type="text" required>
									<control-messages class="control-messages"   [control]="afiliadoForm.controls.fecha_afiliacion"></control-messages>
								</div>
							</div><!-- /.col-md-12 -->

							<div class="col-md-12">
								<div class="form-group">
								<label class="control-label" for="foto">Foto <span class="required">*</span></label>
									<input *ngIf="flagDelete"  class="form-control col-md-12" id="foto"            formControlName="foto"               type="text" readonly="true">
									<input *ngIf="!flagDelete" class="form-control col-md-12" id="foto"            formControlName="foto"               type="text" required>
								<control-messages class="control-messages"   [control]="afiliadoForm.controls.foto"></control-messages>
								</div>
							</div><!-- /.col-md-12 -->
						
							<div class="col-md-12">
								<div class="form-group">
								<label class="control-label" for="correo">Correo <span class="required">*</span></label>
									<input *ngIf="flagDelete"  class="form-control col-md-12" id="correo" formControlName="correo" type="text" readonly="true">
									<input *ngIf="!flagDelete" class="form-control col-md-12" id="correo" formControlName="correo" type="text" required>
								<control-messages class="control-messages"   [control]="afiliadoForm.controls.correo"></control-messages>
								</div>
							</div><!-- /.col-md-12 -->

							<div class="col-md-12">
								<div class="form-group">
								<label class="control-label" for="apellido_materno">Apellido_Materno <span class="required">*</span></label>
									<input *ngIf="flagDelete"  class="form-control col-md-12" id="apellido_materno" formControlName="apellido_materno" type="text" readonly="true">
									<input *ngIf="!flagDelete" class="form-control col-md-12" id="apellido_materno" formControlName="apellido_materno" type="text" required>
								<control-messages class="control-messages"   [control]="afiliadoForm.controls.apellido_materno"></control-messages>
								</div>
							</div><!-- /.col-md-12 -->

							<div class="col-md-12">
								<div class="form-group">
								<label class="control-label" for="acta_nacimiento">Acta_Nacimiento <span class="required">*</span></label>
									<input *ngIf="flagDelete"  class="form-control col-md-12" id="acta_nacimiento" formControlName="acta_nacimiento" type="text" readonly="true">
									<input *ngIf="!flagDelete" class="form-control col-md-12" id="acta_nacimiento" formControlName="acta_nacimiento" type="text" required>
								<control-messages class="control-messages"   [control]="afiliadoForm.controls.acta_nacimiento"></control-messages>
								</div>
							</div><!-- /.col-md-12 -->

							<div class="col-md-12">
								<div class="form-group">
								<label class="control-label" for="monto_pension">Monto_Pension <span class="required">*</span></label>
									<input *ngIf="flagDelete"  class="form-control col-md-12" id="monto_pension" formControlName="monto_pension" type="text" readonly="true">
									<input *ngIf="!flagDelete" class="form-control col-md-12" id="monto_pension" formControlName="monto_pension" type="text" required>
								<control-messages class="control-messages"   [control]="afiliadoForm.controls.monto_pension"></control-messages>
								</div>
							</div><!-- /.col-md-12 -->

							<div class="col-md-12">
								<div class="form-group">
								<label class="control-label" for="apellido_paterno">Apellido_Paterno <span class="required">*</span></label>
									<input *ngIf="flagDelete"  class="form-control col-md-12" id="apellido_paterno" formControlName="apellido_paterno" type="text" readonly="true">
									<input *ngIf="!flagDelete" class="form-control col-md-12" id="apellido_paterno" formControlName="apellido_paterno" type="text" required>
								<control-messages class="control-messages"   [control]="afiliadoForm.controls.apellido_paterno"></control-messages>
								</div>
							</div><!-- /.col-md-12 -->

							<div class="col-md-12">
								<div class="form-group">
								<label class="control-label" for="observaciones">Observaciones <span class="required">*</span></label>
									<input *ngIf="flagDelete"  class="form-control col-md-12" id="observaciones" formControlName="observaciones" type="text" readonly="true">
									<input *ngIf="!flagDelete" class="form-control col-md-12" id="observaciones" formControlName="observaciones" type="text" required>
								<control-messages class="control-messages"   [control]="afiliadoForm.controls.observaciones"></control-messages>
								</div>
							</div><!-- /.col-md-12 -->		
							
							<div class="col-md-12">
								<div class="form-group">
								<label class="control-label" for="nombre">Nombre <span class="required">*</span></label>
									<input *ngIf="flagDelete"  class="form-control col-md-12" id="nombre" formControlName="nombre" type="text" readonly="true">
									<input *ngIf="!flagDelete" class="form-control col-md-12" id="nombre" formControlName="nombre" type="text" required>
								<control-messages class="control-messages"   [control]="afiliadoForm.controls.nombre"></control-messages>
								</div>
							</div><!-- /.col-md-12 -->	

							<div class="col-md-12">
								<div class="form-group">
								<label class="control-label" for="semanas_cotizadas">Semanas_Cotizadas <span class="required">*</span></label>
									<input *ngIf="flagDelete"  class="form-control col-md-12" id="semanas_cotizadas" formControlName="semanas_cotizadas" type="text" readonly="true">
									<input *ngIf="!flagDelete" class="form-control col-md-12" id="semanas_cotizadas" formControlName="semanas_cotizadas" type="text" required>
								<control-messages class="control-messages"   [control]="afiliadoForm.controls.semanas_cotizadas"></control-messages>
								</div>
							</div><!-- /.col-md-12 -->	
	

							<div class="col-md-12">
								<div class="form-group">
								<label class="control-label" for="nss">Nss<span class="required">*</span></label>
									<input *ngIf="flagDelete"  class="form-control col-md-12" id="nss" formControlName="nss" type="text" readonly="true">
									<input *ngIf="!flagDelete" class="form-control col-md-12" id="nss" formControlName="nss" type="text" required>
								<control-messages class="control-messages"   [control]="afiliadoForm.controls.nss"></control-messages>
								</div>
							</div><!-- /.col-md-12 -->	
							
							<div class="col-md-12">
								<br/>
								<div class="form-group">
									<label class="control-label" for="genero">Genero <span class="required">*</span></label>
									<div layout="row" layout-align="center center" class="col-md-12" style="border: 0px solid #CCCCCC; padding-left: 0px; padding-right: 0px;">
											<div layout="column" class="col-md-2" style="padding-left: 0px; padding-right: 0px; top: 5px;">
												<input *ngIf="flagDelete"  type="radio" value="1" formControlName="genero"  disabled="true" />
												<input *ngIf="!flagDelete" type="radio" value="1" formControlName="genero" />
												Masculino
											</div>
											<div layout="column" class="col-md-2" style="padding-left: 0px; padding-right: 0px; top: 5px;">
												<input *ngIf="flagDelete" type="radio" value="2" formControlName="genero" disabled="true"  />
												<input *ngIf="!flagDelete" type="radio" value="2" formControlName="genero" />
												Femenino <br/>
											</div>
											<div layout="column" class="col-md-8" style="padding-left: 0px; padding-right: 0px; top: 5px;"></div>
									</div>
								</div>
							</div><!-- /.col-md-12 -->

							<br/>
							<div class="col-md-12">
								<br/>
								<div class="form-group">
									<label  class="control-label" for="beneficiario">Beneficiario <span class="required">*</span></label>
									<div class="input-group">
										<input *ngIf="flagDelete" type="text" class="form-control" placeholder="Beneficiario..." value={{beneficiarioNombre}} readonly="true">
										<input *ngIf="!flagDelete" type="text" class="form-control" placeholder="Beneficiario..." value={{beneficiarioNombre}}>
						
										<input type="hidden" formControlName="beneficiarioId" id="beneficiarioId">
										
										<span class="input-group-btn">
											<button *ngIf="flagDelete" type="button" class="btn btn-default" data-toggle="modal" data-target="#modalBeneficiario" disabled="true"><em class="fa fa-search"></em></button>
											<button *ngIf="!flagDelete" type="button" class="btn btn-default" data-toggle="modal" data-target="#modalBeneficiario"><em class="fa fa-search"></em></button>
										</span>
									</div>
								</div>
							</div><!-- /.col-md-12 -->	

							<div class="ln_solid"></div>
							
							<div class="col-sm-12">
								<div class="input-group">
								<div *ngIf="flag && !flagDelete">
									<button class="btn btn-primary" (click)="save()" [disabled]="!afiliadoForm.valid"><span style="margin-right:10px;"  class="fa fa-save"></span>Modificar</button>
									<button class="btn btn-link" (click)="return()"> <span style="margin-right:10px;"  class="fa fa-arrow-left"></span> Regresar</button>
								</div>
								<div *ngIf="flagDelete">
									<button class="btn btn-danger" (click)="delete()"><span style="margin-right:10px;"  class="fa fa-trash"></span>Eliminar</button>
									<button class="btn btn-link" (click)="return()"> <span style="margin-right:10px;"  class="fa fa-arrow-left"></span> Regresar</button>
								</div>
								<div *ngIf="!flag && !flagDelete">
									<button class="btn btn-primary"  [disabled]="!afiliadoForm.valid" (click)="save()"><span style="margin-right:10px;"  class="fa fa-save"></span>Agregar</button>
									<button class="btn btn-link" (click)="return()"> <span style="margin-right:10px;"  class="fa fa-arrow-left"></span>Regresar</button>
								</div>
								</div>
							</div>
					
						</div><!-- /.row -->
					</form> 
					


			</div>
		</div>


<!-- Modal beneficiario -->
<div id="modalBeneficiario" class="modal fade"  role="dialog" data-backdrop="false" style="background: rgba(0, 0, 0, 0.31);">
		<div class="modal-dialog" style="width:60%">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Beneficiario</h4>
				</div>

				<div class="modal-body">
					<div class='row'>
						<div class="col-lg-6">
							<br/>
						</div>
						<div class="col-lg-6">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Criterios de busqueda..." name="busquedabeneficiario" [(ngModel)]="busquedaBeneficiario">
								<span class="input-group-btn">
									<button class="btn btn-default" type="button"><em class="fa fa-search"></em></button>
								</span>
							</div>
						</div>
					</div>

					<div class="row" style="width: 100%; overflow-x: scroll ;">
						<table class="datatable" class="table table-striped" >
							<thead>
								<tr>
									<th>Apellido_materno</th>
									<th>Curp</th>
									<th>Fecha_nacimiento</th>
									<th>Parentesco</th>
									<th>Nombre</th>
									<th>Apellido_paterno</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let beneficiario of beneficiarioList | filterBeneficiario: busquedaBeneficiario | paginate: {itemsPerPage: 10, currentPage:page, id: '1'}; let i = index" data-dismiss="modal" (click)="setClickedRowBeneficiario(i, beneficiario)" >
									<td>{{beneficiario.apellido_materno}}</td>
									<td>{{beneficiario.curp}}</td>
									<td>{{beneficiario.fecha_nacimiento}}</td>
									<td>{{beneficiario.parentescoId}}</td>
									<td>{{beneficiario.nombre}}</td>
									<td>{{beneficiario.apellido_paterno}}</td>
								</tr>
							</tbody>
						</table>

						<div align="center" style="margin-top:15px;">
							<pagination-controls (pageChange)="page = $event" id="1" maxSize="10" directionLinks="true" autoHide="false" previousLabel="<"
								nextLabel=">" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
							</pagination-controls>
						</div>

						<div class="row">
							<div class="text-right" style="padding-right:40px">
								<button type="button" class="btn btn-link" data-dismiss="modal"><span style="margin-right:10px;" class="fa fa-arrow-left"></span>Regresar</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


