table{
    table-layout: fixed;
    width: 100%;
}

th{
    /*border: 1px solid #73879C;*/
    width: 30px;
    word-wrap: break-word;
    float: left;
    height: 35px;
    text-align: center;
    border-bottom: none !important;
}

td {
    /*border: 1px solid #73879C;*/
    width: 30px;
    word-wrap: break-word;
    float: left;
    height: 35px;
    text-align: center;
    border-top: 2px solid #ddd;
    padding-top: 8px;
}


.rotate {
-webkit-transform: rotate(-180deg);        
-moz-transform: rotate(-180deg);            
-ms-transform: rotate(-180deg);         
-o-transform: rotate(-180deg);         
transform: rotate(-180deg);
writing-mode: vertical-lr;
height: 160px;
text-align: left;

}

.header-content {
  
    bottom: 0;
    width: 250px;
    margin-top: 120px;
  }

#datatable{
    height: 400px !important;
    overflow-y: auto !important;
    margin-left: 50px;
}

.box_header{
    margin-left: 50px;
    border: 1;
}