

    <div class="x_panel">
        <div class="x_title">
        <h2>Administrar</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
        </ul>

        <div class="clearfix"></div>
        </div>
        <div class="x_content">

            
            <form #adminPermisoForm="ngForm" id="adminPermisoForm" data-parsley-validate> 
                <table id="datatable" class="table table-striped" style="overflow: scroll;">
                        <thead>
                                <tr>
                                    <!-- <th>Id Grupo</th> -->
                                    <th>Nombre Grupo</th>
                                    <th>Id Privilege</th>
                                    <th>Nombre Privilege</th>

                                    <!-- Columnas dinamicas -->
                                    <!-- <th>Admin</th>
                                    <th>User</th>
                                    <th>Anonymous</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                    <tr *ngFor="let adminPermiso of adminPermisoList; let k = index">
                                            <!-- <td> {{adminPermiso.idGrupo}}</td> -->
                                            <td>{{adminPermiso.nombreGrupo}}</td>
                                            <td>{{adminPermiso.idPrivilege}}</td>
                                            <td>{{adminPermiso.nombrePrivilege}}</td>
                                            <div *ngFor="let configAuthority of adminPermiso.lstConfigAuthority; let j = index" style="float: right;">
                                                {{configAuthority.nameAuthority}}
                                                <input type="checkbox" class="control control--checkbox" [checked] = "configAuthority.enabled"  (change)= "saveData(adminPermiso, configAuthority, $event)" name="[k][j]" value="adminPermiso.idAuthority" />       
                                                <!-- <td>{{configAuthority.idAuthority}} {{j}}</td>
                                                <td>{{configAuthority.nameAuthority}} {{j}}</td>
                                                <td>{{configAuthority.idPrivilege}} {{j}}</td>
                                                <td>{{configAuthority.enabled}} {{j}}</td> -->
                                            </div>
                                            <!-- Columnas dinamicas -->
                                            <!-- <td>
                                            <div>
                                            <input type="checkbox" disabled class="control control--checkbox" [checked] = "adminPermiso.admin" (change)= "saveData(adminPermiso, 1, $event, adminPermiso.admin)"  name="adminPermiso.admin" value="adminPermiso.admin" />       
                                            </div> 
                                            </td>
                                            <td>
                                            <div>
                                            <input type="checkbox" class="control control--checkbox" [checked] = "adminPermiso.user"  (change)= "saveData(adminPermiso, 2, $event, adminPermiso.user)" name="adminPermiso.user" value="adminPermiso.user" />       
                                            </div> 
                                            </td>
                                            <td>
                                            <div>
                                            <input type="checkbox" class="control control--checkbox" [checked] = "adminPermiso.anonymous"  (change)= "saveData(adminPermiso, 3, $event, adminPermiso.anonymous)" name="adminPermiso.anonymous" value="adminPermiso.anonymous" />       
                                            </div> 
                                            </td> -->
                                </tr>
                            </tbody>
                    </table>
            </form>
            
            

        </div>
    </div>	




