
<div class="x_panel">
	<div class="x_title">
	<h2>Beneficiario <small>Agregar Beneficiario</small></h2>
	<ul class="nav navbar-right panel_toolbox">
		<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
		</li>
	</ul>
	<div class="clearfix"></div>
	</div>
	<div class="x_content">
		
		<form #beneficiarioForm="ngForm" id="beneficiarioForm" class="form-horizontal form-label-left" data-parsley-validate>
			
			<input class="form-control" #beneficiarioId="ngModel" beneficiarioId="beneficiarioId" name="beneficiarioId" type="hidden" [(ngModel)]="beneficiario.beneficiarioId">
			<div class="form-group">
				<label class="control-label col-md-3 col-sm-3 col-xs-12" for="apellido_materno">Apellido_Materno: <span class="required">*</span>
				</label>
				<div class="col-md-6 col-sm-6 col-xs-12">
				<input class="form-control col-md-7 col-xs-12" #apellido_materno="ngModel" [(ngModel)]="beneficiario.apellido_materno" id="apellido_materno" name="apellido_materno" type="text" required="required" >
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-3 col-sm-3 col-xs-12" for="curp">Curp: <span class="required">*</span>
				</label>
				<div class="col-md-6 col-sm-6 col-xs-12">
				<input class="form-control col-md-7 col-xs-12" #curp="ngModel" [(ngModel)]="beneficiario.curp" id="curp" name="curp" type="text" required="required" >
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-md-3 col-sm-3 col-xs-12" for="fecha_nacimiento">Fecha_Nacimiento: <span class="required">*</span>
				</label>
				<div class="col-md-6 col-sm-6 col-xs-12">
				<input class="form-control col-md-7 col-xs-12" #fecha_nacimiento="ngModel" [(ngModel)]="beneficiario.fecha_nacimiento" id="fecha_nacimiento" name="fecha_nacimiento" type="text" required="required" >
				</div>
			</div>
			
			<div class="form-group">
				<label class="control-label col-md-3 col-sm-3 col-xs-12" for="nombre">Nombre: <span class="required">*</span>
				</label>
				<div class="col-md-6 col-sm-6 col-xs-12">
				<input class="form-control col-md-7 col-xs-12" #nombre="ngModel" [(ngModel)]="beneficiario.nombre" id="nombre" name="nombre" type="text" required="required" >
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-3 col-sm-3 col-xs-12" for="nombre">Apellido_Paterno: <span class="required">*</span>
				</label>
				<div class="col-md-6 col-sm-6 col-xs-12">
				<input class="form-control col-md-7 col-xs-12" #apellido_paterno="ngModel" [(ngModel)]="beneficiario.apellido_paterno" id="apellido_paterno" name="apellido_paterno" type="text" required="required" >
				</div>
			</div>
		
			<div class="form-group">
				<label class="control-label col-md-3 col-sm-3 col-xs-12" for="parentesco">Parentesco: <span class="required">*</span>
				</label>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<input  type="radio"  value="conyuge"      #parentescoId="ngModel"  name="parentescoId" [(ngModel)]="beneficiario.parentescoId" /> Conyugue <br/>		
					<input  type="radio"  value="ascendiente"  #parentescoId="ngModel"  name="parentescoId" [(ngModel)]="beneficiario.parentescoId" /> Ascendente <br/>		
					<input  type="radio"  value="hijo"         #parentescoId="ngModel"  name="parentescoId" [(ngModel)]="beneficiario.parentescoId" /> Hijo <br/>
				</div>
			</div>
	
			<div class="ln_solid"></div>
			<div class="col-sm-12">
				<div class="input-group">
				<div *ngIf="flag">	
				<button class="btn btn-danger" (click)="delete(beneficiarioForm)"><span style="margin-right:10px;"  class="fa fa-trash"></span>Eliminar</button>
				<button class="btn btn-primary" (click)="save(beneficiarioForm)"><span style="margin-right:10px;"  class="fa fa-save"></span>Modificar</button>
				<button class="btn btn-default" (click)="return(beneficiarioForm)"> <span style="margin-right:10px;"  class="fa fa-arrow-left"></span> Regresar</button>
				</div>
				<div *ngIf="!flag">
				<button class="btn btn-primary" (click)="save(beneficiarioForm)"><span style="margin-right:10px;"  class="fa fa-save"></span>Agregar</button>
				<button class="btn btn-default" (click)="return(beneficiarioForm)"> <span style="margin-right:10px;"  class="fa fa-arrow-left"></span> Regresar</button>
				</div>
				</div>
			</div>

		</form>
		
		<!-- end form for validation -->
	</div>
</div>



