

			<div class="x_panel">
				<div class="x_title">
				<h2>User <small>Agregar User</small></h2>
				<ul class="nav navbar-right panel_toolbox">
					<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
					</li>
				</ul>
				<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<form #userForm="ngForm" id="userForm" class="form-horizontal form-label-left" data-parsley-validate>
						
						<input class="form-control" #iduser="ngModel" iduser="iduser" name="iduser" type="hidden" [(ngModel)]="user.idUser">
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12" for="userName">UserName: <span class="required">*</span>
							</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
							<input class="form-control col-md-7 col-xs-12" #userName="ngModel" [(ngModel)]="user.userName" id="userName" name="userName" type="text" required="required" >
							</div>
						</div>
						<div *ngIf="!flag">
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12" for="password">Password: <span class="required">*</span>
							</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
							<input class="form-control col-md-7 col-xs-12" #password="ngModel" [(ngModel)]="user.password" id="password" name="password" type="text" required="required" >
							</div>
						</div>
						</div>
						
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12" for="rol">Rol: <span class="required">*</span>
							</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<select #selectElem (change)="setRole(selectElem.value)" class="select-color">
										<option *ngFor="let authority of authorityList" [ngValue]="authority">{{authority.rol}}</option>
								</select>
							</div>
						</div>

						<!-- <br/>
						<div style="float:left; width: 7%;" >
								<label>Rol * :</label>
						</div> -->

						<!-- <div style="float:left" class="col-md-2"> -->
							
							<!-- <div *ngFor="let authority of authorityList">
								<input type="checkbox" value="{{authority.idRol}}"  name="{{authority.rol}}"/> {{authority.rol}} 
							</div>
						</div> -->

						
						<!-- <div style="float:left; width: 7%;" >
								<label>Modulo * :</label>
						</div> -->
						<!-- <div style="float:left"  class="col-md-6"> 
							<div *ngFor="let modulo of modulosList" style="float:left; width:25%;" >
								<b>{{modulo.modulo}}</b> 
								<div *ngFor="let accion of accionsList" >
									<input type="checkbox" value="{{accion.accion}}"  name="accion" [(ngModel)]="user.accion" /> 
									{{accion.accion}} 
								</div>
							</div>
						</div> -->

						<div class="ln_solid"></div>
						<div class="col-sm-12">
							<div class="input-group">
							<div *ngIf="flag">	
							<button class="btn btn-danger" (click)="delete(userForm)"><span style="margin-right:10px;"  class="fa fa-trash"></span>Eliminar</button>
							<button class="btn btn-primary" (click)="save(userForm)"><span style="margin-right:10px;"  class="fa fa-save"></span>Modificar</button>
							<button class="btn btn-default" (click)="return(userForm)"> <span style="margin-right:10px;"  class="fa fa-arrow-left"></span> Regresar</button>
							</div>
							<div *ngIf="!flag">
							<button class="btn btn-primary" (click)="save(userForm)"><span style="margin-right:10px;"  class="fa fa-save"></span>Agregar</button>
							<button class="btn btn-default" (click)="return(userForm)"> <span style="margin-right:10px;"  class="fa fa-arrow-left"></span> Regresar</button>
							</div>
							</div>
						</div>

					</form>
					
					

				</div>
			</div>

		




