

			<div class="x_panel">
                    <div class="x_title">
                    <h2>Administrar <small>Modulo - Rol</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>

                    <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
    
                        
                        <form #moduloAccionForm="ngForm" id="moduloAccionForm" data-parsley-validate>
    
                            <!-- <div style="float:left; width: 7%;" >
                                    <label>Modulo * :</label>
                            </div> -->
                            
                                <!-- <div *ngFor="let modulo of modulosList; let i = index" class="modulos">
                                    <label class="title">{{modulo.modulo}}</label>
                                    <div *ngFor="let authority of authorityList; let j = index" class="roles"> -->
                                        <!-- <div *ngIf="i === 0;"> -->
                                        <!-- <div class="title_2"><label>{{authority.rol}}</label></div> -->
                                        <!-- </div>  -->
                                        
                                        <!--
                                        <div *ngFor="let accion of accionsList; let k = index">
                                            <div *ngIf="j === 0;else content">
                                            <label class="title_1">{{accion.accion}}</label><input type="checkbox" (change)="saveRole(modulo.idModulo,authority.idRol,accion.idAccion,$event)"  name="type{{i}}{{j}}{{k}}" value="{{modulo.idModulo}},{{authority.idRol}},{{accion.idAccion}}" />  
                                            </div>
                                            
                                        </div>-->

                                        <!-- <div *ngFor="let accion of accionsList; let k = index">
                                            <input type="checkbox" (change)="saveRole(modulo.idModulo,authority.idRol,accion.idAccion,$event)"  name="e{{i}}{{j}}{{k}}" value="e{{i}}{{j}}{{k}}" />  
                                        </div>
                                    </div> 
                                </div> -->

                                <div *ngFor="let modulo of modulosList; let i = index" class="modulos">
                                <table ng-table="tableParams" show-filter="true" border="1">
                                    <th>{{modulo.modulo}}</th>
                                    <th *ngFor="let authority of authorityList; let j = index">
                                        {{authority.rol}}
                                    </th>
                                    <tr *ngFor="let accion of accionsList; let k = index">   
                                        <td>{{accion.accion}}</td>
                                        <td *ngFor="let authority of authorityList; let j = index">
                                                <!-- {{accion.accion}} -  {{authority.rol}} - {{modulo.modulo}} -->
                                            <input type="checkbox" [(ngModel)]="modulo.isSelected && accion.iSselected && authority.isSelected" (change)="saveRole(modulo.idModulo,authority.idRol,accion.idAccion,$event);"  name="{{i}}{{j}}{{k}}" value="{{i}}{{j}}{{k}}" />
                                            <!-- [(ngModel)]="item[authority.idRol][modulo.idModulo][accion.idAccion]" -->
                                            <!-- <input type="text" value="e{{i}}{{j}}{{k}}" name="e{{i}}{{j}}{{k}}"> -->
                                            <!-- <input type="checkbox" [(ngModel)]="authority.isSelected" (change)="saveRole(modulo.idModulo,authority.idRol,accion.idAccion,$event)"  name="e{{i}}{{j}}{{k}}" value="e{{i}}{{j}}{{k}}" />          
                                            <input type="checkbox" [(ngModel)]="modulo.isSelected" (change)="saveRole(modulo.idModulo,authority.idRol,accion.idAccion,$event)"  name="e{{i}}{{j}}{{k}}" value="e{{i}}{{j}}{{k}}" />           -->
                                        </td>
                                    </tr>
                                </table>
                                </div>
                               

                            <div class="col-sm-12">
                                <br/>
                                <br/>
                                <div class="input-group">
                                <div *ngIf="flag">	
                                <button class="btn btn-danger" (click)="delete(moduloAccionForm)"><span style="margin-right:10px;"  class="fa fa-trash"></span>Eliminar</button>
                                <button class="btn btn-primary" (click)="save(moduloAccionForm)"><span style="margin-right:10px;"  class="fa fa-save"></span>Modificar</button>
                                <button class="btn btn-default" (click)="return(moduloAccionForm)"> <span style="margin-right:10px;"  class="fa fa-arrow-left"></span> Regresar</button>
                                </div>
                                <div *ngIf="!flag">
                                <button class="btn btn-primary" (click)="save(moduloAccionForm)"><span style="margin-right:10px;"  class="fa fa-save"></span>Agregar</button>
                                <button class="btn btn-default" (click)="return(moduloAccionForm)"> <span style="margin-right:10px;"  class="fa fa-arrow-left"></span> Regresar</button>
                                </div>
                                </div>
                            </div>
    
                        </form>
                        
                        
    
                    </div>
                </div>	
    
    
    
    
    