

			<div class="x_panel">
                    <div class="x_title">
                    <h2>Administrar <small>Modulo - Rol</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>

                    <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
    
                        
                        <form #moduloAccionForm="ngForm" id="moduloAccionForm" data-parsley-validate>
    
                            <!-- <div style="float:left; width: 7%;" >
                                    <label>Modulo * :</label>
                            </div> -->
                            
                                <div *ngFor="let modulo of modulosList; let i = index" class="modulos">
                                    <!-- <label class="title">{{modulo.modulo}}</label>  -->
                                    <div *ngFor="let authority of authorityList; let j = index" class="roles">
                                        <!-- <div *ngIf="i === 1;">{{i}}
                                        <label class="title_2">{{authority.rol}}</label>
                                        </div> -->
                                        <div *ngFor="let accion of accionsList; let k = index">
                                            <!-- <label class="title_1">{{accion.accion}}</label> -->
                                            <input type="checkbox" (change)="saveRole(modulo.idModulo,authority.idRol,accion.idAccion,$event)"  name="type{{i}}{{j}}{{k}}" value="{{modulo.idModulo}},{{authority.idRol}},{{accion.idAccion}}" />  
                                            {{i}}{{j}}{{k}}
                                            <br/>
                                        </div>
                                    </div> 
                                </div>
                         
                               

                            <div class="col-sm-12">
                                <br/>
                                <br/>
                                <div class="input-group">
                                <div *ngIf="flag">	
                                <button class="btn btn-danger" (click)="delete(moduloAccionForm)"><span style="margin-right:10px;"  class="fa fa-trash"></span>Eliminar</button>
                                <button class="btn btn-primary" (click)="save(moduloAccionForm)"><span style="margin-right:10px;"  class="fa fa-save"></span>Modificar</button>
                                <button class="btn btn-default" (click)="return(moduloAccionForm)"> <span style="margin-right:10px;"  class="fa fa-arrow-left"></span> Regresar</button>
                                </div>
                                <div *ngIf="!flag">
                                <button class="btn btn-primary" (click)="save(moduloAccionForm)"><span style="margin-right:10px;"  class="fa fa-save"></span>Agregar</button>
                                <button class="btn btn-default" (click)="return(moduloAccionForm)"> <span style="margin-right:10px;"  class="fa fa-arrow-left"></span> Regresar</button>
                                </div>
                                </div>
                            </div>
    
                        </form>
                        
                        
    
                    </div>
                </div>	
    
    
    
    
    