
    
  <div class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
                <a href="index.html" class="site_title"><img src="../../assets/img/logo.png" width="30px"> <span>PSG</span></a>
            </div>
  
            <div class="clearfix"></div>
  
            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                <img src="../../assets/img/body.jpg" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Welcome,</span>
                <h2>{{valueName}} </h2>
                </div>
            </div>
            <!-- /menu profile quick info -->
  
            <br />
  
            <!-- sidebar menu -->
            
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>General</h3>

                <ul class="nav side-menu">{{user.authority}}
                  <li *ngIf="afiliado_mgmnt"><a routerLink="./manageAfiliado" routerLinkActive="active">
                    <i class="fa fa-edit"></i> Administrar Afiliado </a>
                  </li>
                  <li *ngIf="afiliado"><a routerLink="./createAfiliado" routerLinkActive="active" >
                    <i class="fa fa-edit"></i> Agregar Afiliado </a>
                  </li>
                  <li *ngIf="beneficiario_mgmnt"><a routerLink="./beneficiario_mgmnt" routerLinkActive="active">
                    <i class="fa fa-edit"></i> Administrar Beneficiario </a>
                  </li>
                  <li *ngIf="beneficiario"><a routerLink="./beneficiario" routerLinkActive="active">
                    <i class="fa fa-edit"></i> Agregar Beneficiario </a>
                  </li>
                  <li  *ngIf="tipopension_mgmnt"><a routerLink="./tipopension_mgmnt" routerLinkActive="active">
                    <i class="fa fa-edit"></i> Administrar Tipopension </a>
                  </li>
                  <li  *ngIf="tipopension"><a routerLink="./tipopension" routerLinkActive="active">
                    <i class="fa fa-edit"></i> Agregar Tipopension </a>
                  </li>
                  <li  *ngIf="solicitudpension_mgmnt"><a routerLink="./solicitudpension_mgmnt" routerLinkActive="active">
                    <i class="fa fa-edit"></i> Administrar Solicitudpension </a>
                  </li>
                  <li  *ngIf="solicitudpension"><a routerLink="./solicitudpension" routerLinkActive="active">
                    <i class="fa fa-edit"></i> Agregar Solicitudpension </a>
                  </li>
                </ul>

                <div *ngIf="manage">
                <h3>Admin</h3>
                </div>

                <ul class="nav side-menu">
                  <li><a *ngIf="manage" routerLink="./manage" routerLinkActive="active">
                    <i class="fa fa-edit"></i> Manage Privileges </a>
                  </li>
                  <li  *ngIf="authority_mgmnt"><a routerLink="./authority_mgmnt" routerLinkActive="active">
                    <i class="fa fa-edit"></i> Administrar Authority </a>
                  </li>
                  <li  *ngIf="authority"><a routerLink="./authority" routerLinkActive="active">
                    <i class="fa fa-edit"></i> Agregar Authority</a>
                  </li>
                  <li  *ngIf="user_mgmnt"><a routerLink="./user_mgmnt" routerLinkActive="active">
                    <i class="fa fa-edit"></i> Administrar User </a>
                  </li>
                  <li  *ngIf="user"><a routerLink="./user" routerLinkActive="active">
                    <i class="fa fa-edit"></i> Agregar User </a>
                  </li>
                </ul> 
             
            </div>
            </div>
            <!-- /sidebar menu -->
  
            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>
  
        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>
  
              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="../../assets/img/body.jpg" alt="">{{valueName}}
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <!-- <li><a href="javascript:;"> Profile</a></li>
                    <li>
                      <a href="javascript:;">
                        <span class="badge bg-red pull-right">50%</span>
                        <span>Settings</span>
                      </a>
                    </li>
                    <li><a href="javascript:;">Help</a></li> -->
                    <!-- <li><button (click) = logout()>LogOut</button></li> -->
                    <!-- <a routerLink="../login" routerLinkActive="active">Log Out</a> -->
                    <li style="text-align: right"><button (click) = "logout()" style="background: none;" >LogOut</button></li>
                    
                  </ul>
                </li>
  
                <li role="presentation" class="dropdown">
                  <!-- <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-envelope-o"></i>
                    <span class="badge bg-green">6</span>
                  </a> -->
                  <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                    <li>
                      <a>
                        <span class="image"><img src="../../assets/img/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="../../assets/img/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="../../assets/img/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="../../assets/img/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <div class="text-center">
                        <a>
                          <strong>See All Alerts</strong>
                          <i class="fa fa-angle-right"></i>
                        </a>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->
  
        <!-- page content -->
        <div class="container body">
          <div class="right_col" role="main">
              <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    
                            
                            <router-outlet></router-outlet>	
                         
                     
                  </div>
                </div>
              </div>
            </div>
  
        <!-- /page content -->
  
        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>
    </div>