<body class="nav-md">
  
        <div class="container body">
            <div class="main_container">
              
              <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                  <div class="navbar nav_title" style="border: 0;">
                    <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>PSG</span></a>
                  </div>
                  <div class="clearfix"></div>
                  <div class="profile clearfix">
                    <div class="profile_pic">
                      <img src="assets/img/img.jpg" alt="..." class="img-circle profile_img">
                    </div>
                    <div class="profile_info">
                      <span>Welcome,</span>
                      <h2>John Doe</h2>
                    </div>
                  </div>
                  <br />
  
                
                  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                      <h3>General</h3>
                      <ul class="nav side-menu">
                        <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                          <ul class="nav child_menu">
                            <li><a href="index.html">Dashboard</a></li>
                            <li><a href="index2.html">Dashboard2</a></li>
                            <li><a href="index3.html">Dashboard3</a></li>
                          </ul>
                        </li>
                       
                        <li>
                            <a title="Beneficiario"><i class="fa fa-edit"></i>Beneficiarios<span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu" id="beneficiario">
                              <li><a href="/beneficiario_mgmnt" routerLink="beneficiario_mgmnt" title="Administrar Beneficiario">Administrar Beneficiario</a></li>
                              <li><a href="/beneficiario"  routerLink="beneficiario" title="Agregar Beneficiario">Agregar Beneficiario</a></li>
                            </ul>
                        </li>
                        <li>
                            <a title="Afiliado"><i class="fa fa-edit"></i>Afiliados<span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu" id="afiliado">
                              <li><a href="/afiliado_mgmnt" routerLink="afiliado_mgmnt" title="Administrar Afiliado">Administrar Afiliado</a></li>
                              <li><a href="/afiliado"  routerLink="afiliado" title="Agregar Afiliado">Agregar Afiliado</a></li>
                            </ul>
                        </li>
                        <li>
                            <a title="Tipopension"><i class="fa fa-edit"></i>Tipopension<span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu" id="tipopension">
                              <li><a href="/tipopension_mgmnt" routerLink="tipopension_mgmnt" title="Administrar Tipopension">Administrar Tipopension</a></li>
                              <li><a href="/tipopension"  routerLink="tipopension" title="Agregar Tipopension">Agregar Tipopension</a></li>
                            </ul>
                        </li>
                        <li>
                            <a title="Solicitudpension"><i class="fa fa-edit"></i>Solicitudpension<span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu" id="solicitudpension">
                              <li><a href="/solicitudpension_mgmnt" routerLink="solicitudpension_mgmnt" title="Administrar Solicitudpension">Administrar Solicitudpension</a></li>
                              <li><a href="/solicitudpension"  routerLink="solicitudpension" title="Agregar Solicitudpension">Agregar Solicitudpension</a></li>
                            </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                
                  <div class="sidebar-footer hidden-small">
                    <a data-toggle="tooltip" data-placement="top" title="Settings">
                      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                      <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="Lock">
                      <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                      <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                    </a>
                  </div>
                  
  
                </div>
              </div>
            
             
              <div class="top_nav">
                <div class="nav_menu">
                  <nav>
                    <div class="nav toggle">
                      <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
        
                    <ul class="nav navbar-nav navbar-right">
                      <li class="">
                        <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                          <img src="assets/img/img.jpg" alt="">John Doe
                          <span class=" fa fa-angle-down"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-usermenu pull-right">
                          <li><a href="javascript:;"> Profile</a></li>
                          <li>
                            <a href="javascript:;">
                              <span class="badge bg-red pull-right">50%</span>
                              <span>Settings</span>
                            </a>
                          </li>
                          <li><a href="javascript:;">Help</a></li>
                          <li><a href="/login"  routerLink="login"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                        </ul>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
              
              
  
  
  
  
              <div class="container body">
                  <div class="right_col" role="main">
                      <div class="row">
                          <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="dashboard_graph">
                      
                                  <div class="login">
                                          <div>
                                            <a class="hiddenanchor" id="signup"></a>
                                            <a class="hiddenanchor" id="signin"></a>
                                      
                                            <div class="login_wrapper">
                                              <div class="animate form login_form">
                                                <section class="login_content">
          
                                                      <p><a [routerLink]="['/login']">Logout</a></p>
                                                   <!-- 
                                                  <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                                                    <h1>Login</h1>
                                                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                                                       
                                                        <input type="text" placeholder="Username" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />
                                                        <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
                                                    </div>
                                                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                                                       
                                                        <input type="password" placeholder="Password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
                                                        <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
                                                    </div>
                                                    <div class="form-group">
                                                        <button [disabled]="loading" class="btn btn-primary">Login</button>
                                                    </div>
                                                    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                                               
                                                    <div class="clearfix"></div>
                                      
                                                    <div class="separator">
                                                      <p class="change_link">New to site?
                                                        <a href="#signup" class="to_register"> Create Account </a>
                                                      </p>
                                      
                                                      <div class="clearfix"></div>
                                                      <br />
                                                      <div>
                                                        <h1><img src="../../assets/img/Softtek.png" width="100px" height="50px"></h1>
                                                        <p>©2018 All Rights Reserved. Softtek</p>
                                                      </div>
                                                      
                                                    </div>
                                                  </form>-->
                                                </section>
                                              </div>
                                      
                                              <div id="register" class="animate form registration_form">
                                                <section class="login_content">
                                                  <!--  
                                                  <form>
                                                    <h1>Create Account</h1>
                                                    <div>
                                                      <input type="text" class="form-control" placeholder="Username" required="" />
                                                    </div>
                                                    <div>
                                                      <input type="email" class="form-control" placeholder="Email" required="" />
                                                    </div>
                                                    <div>
                                                      <input type="password" class="form-control" placeholder="Password" required="" />
                                                    </div>
                                                    <div>
                                                      <a class="btn btn-default submit" href="index.html">Submit</a>
                                                    </div>
                                      
                                                    <div class="clearfix"></div>
                                      
                                                    <div class="separator">
                                                      <p class="change_link">Already a member ?
                                                        <a href="#signin" class="to_register"> Log in </a>
                                                      </p>
                                      
                                                      <div class="clearfix"></div>
                                                      <br />
                                      
                                                      <div>
                                                        <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                                                        <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                                                      </div>
                                                    </div>
                                                  </form>-->
                                                </section>
                                              </div>
                                            </div>
                                          </div>
                                      </div>
                                      <!--<li *ngFor="let user of users">{{user.firstName}} {{user.lastName}}</li>-->
                                     
                      <!--
                                  <div class="col-md-6 col-md-offset-3">
                                          <h2>Login</h2>
                                          <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                                              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                                                  <label for="username">Username</label>
                                                  <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />
                                                  <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
                                              </div>
                                              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                                                  <label for="password">Password</label>
                                                  <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
                                                  <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
                                              </div>
                                              <div class="form-group">
                                                  <button [disabled]="loading" class="btn btn-primary">Login</button>
                                              </div>
                                              <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                                          </form>
                                      </div>
                       -->       
                      
                              <div class="clearfix"></div>
                            </div>
                          </div>
                      
                        </div>
                      
                      
                       
                        </div>
                      </div>
  
  
  
  
  
  
                      <router-outlet-home></router-outlet-home>
              <!--
              <app-root></app-root>
                -->
  
            </div>
          </div>
      
  
      
    </body>