<div class="x_panel">
	<div class="x_title">
	<h2>Authority <small>Agregar Authority</small></h2>
	<ul class="nav navbar-right panel_toolbox">
		<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
		</li>
	</ul>
	<div class="clearfix"></div>
	</div>
	<div class="x_content">
		<form #authorityForm="ngForm" id="authorityForm" data-parsley-validate>
			<input class="form-control" #idAuthority="ngModel" idrol="idAuthority" name="idAuthority" type="hidden" [(ngModel)]="authority.idAuthority">

			<label for="rol">Authority * :</label>
			<input *ngIf="flagDelete" class="form-control col-md-12" #name="ngModel" id="name" name="name" type="text" [(ngModel)]="authority.name" required readonly="true">
			<input *ngIf="!flagDelete" class="form-control col-md-12" #name="ngModel" id="name" name="name" type="text" [(ngModel)]="authority.name" required>
			<br/>


			<div class="form-group">
				<br/>
				<label class="control-label" for="enabled">Estatus <span class="required">*</span></label>
				<div layout="row" layout-align="center center" class="col-md-12" style="border: 0px solid #CCCCCC; padding-left: 0px; padding-right: 0px;">
						<div layout="column" class="col-md-2" style="padding-left: 0px; padding-right: 0px; top: 5px;">
							<input *ngIf="flagDelete" type="radio" value="true" [checked]="isChecked" name="enabled"  disabled="true" />
							<input *ngIf="!flagDelete" type="radio" value="true" [checked]="isChecked" name="enabled"  (click)="authority.enabled='true'"/>
								Activo
						</div>
						<div layout="column" class="col-md-2" style="padding-left: 0px; padding-right: 0px; top: 5px;">
							<input *ngIf="flagDelete" type="radio" value="false" [checked]="!isChecked"  name="enabled"  disabled="true" />
							<input *ngIf="!flagDelete" type="radio" value="false" [checked]="!isChecked" name="enabled" (click)="authority.enabled='false'" />
								Inactivo
						</div>
				</div>
			</div>

			<br/>
			<div class="ln_solid"></div>
			<div class="col-sm-12">
				<div class="input-group">
					<div *ngIf="flagDelete">
						<button class="btn btn-danger" (click)="delete()"><span style="margin-right:10px;"  class="fa fa-trash"></span>Eliminar</button>
						<button class="btn btn-link" (click)="return(authorityForm)"> <span style="margin-right:10px;"  class="fa fa-arrow-left"></span>Regresar</button>
					</div>
					<div *ngIf="flag && !flagDelete">
						<button class="btn btn-primary" [disabled]="!authorityForm.valid" (click)="save()"><span style="margin-right:10px;"  class="fa fa-save"></span>Modificar</button>
						<button class="btn btn-link" (click)="return(authorityForm)"> <span style="margin-right:10px;"  class="fa fa-arrow-left"></span>Regresar</button>
					</div>
					<div *ngIf="!flag && !flagDelete">
						<button class="btn btn-primary" [disabled]="!authorityForm.valid" (click)="save()"><span style="margin-right:10px;"  class="fa fa-save"></span>Agregar</button>
						<button class="btn btn-link" (click)="return(authorityForm)"><span style="margin-right:10px;"  class="fa fa-arrow-left"></span>Regresar</button>
					</div>
				</div>
			</div>

		</form>



	</div>
</div>
